* {
    margin:10px;
    padding:0px;
    box-sizing:border-box;
}

h1 {
    color:mediumslateblue;
}

h2 {
    color:mediumvioletred
}

img {
    width: 1000px;
}

h4, p {
    word-wrap: normal;
}

h4 {
    color:mediumorchid;
}

p {
    color: indigo;
}